@font-face{
    font-family:'Comfortaa';
    src:local('Comfortaa'), url(./fonts/Comfortaa-Regular.ttf) format('truetype');
}

@font-face{
    font-family:'Panton';
    src:local('Panton'), url(./fonts/Panton-Trial-Black.ttf) format('truetype');
}

body{
    background-color:white;
}

#centered{
    text-align: center;
}

#mainArea{
    background-color: #124559;
    margin: auto;
    margin-top:80px;
    width: 500px;
    height: 450px;
    padding: 50px;
    border-radius:50px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

#text{
    font-family:'Panton';
    color:white;
    text-align:center;
}

#button{
    font-family:'Comfortaa';
    background-color:#598392;
    color:white;
    margin-right: 20px;
    margin-top:30px;
    width: 100px;
    padding: 10px;
    border-radius:55px;
    border:none;
    box-shadow: 0 4px 8px 0 #00000017;
}

#button:hover{
    cursor:pointer;
    background-color:#668a97;
    transition:all 0.35s ease;
    box-shadow: 0 4px 8px 0 #00000039;
}