@font-face{
    font-family:'Comfortaa';
    src:local('Comfortaa'), url(./fonts/Comfortaa-Regular.ttf) format('truetype');
}

@font-face{
    font-family:'Panton';
    src:local('Panton'), url(./fonts/Panton-Trial-Black.ttf) format('truetype');
}

body{
    background-color:white;
}
#loginForm{
    background-color: #124559;
    margin: auto;
    margin-top:180px;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius:50px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

#loginText{
    font-family:'Panton';
    color:white;
    text-align:center;
    font-size:22px;
}
.text{
    font-family:"Comfortaa";
    color:white;
    text-align:center;
    font-size:12px;
    a{
        color: #598392;
        font-family:'Comfortaa';
    }
    a:hover {
        color: white;
    }
    a:active {
        color: #0a2e3b;
    }
}

#emailInput{
    margin-top:60px;
}

.textInput::placeholder{
    color:white;
}

.textInput:focus{
    outline:none;
    border-bottom:3px solid #598392;
}
#loginButton{
    font-family:'Comfortaa';
    background-color:#598392;
    color:white;
    margin: auto;
    margin-top:30px;
    width: 100px;
    padding: 10px;
    display:block;
    border-radius:55px;
    border:none;
    box-shadow: 0 4px 8px 0 #00000017;
}

#loginButton:hover{
    cursor:pointer;
    background-color:#668a97;
    transition:all 0.35s ease;
    box-shadow: 0 4px 8px 0 #00000039;
}

.textInput{
    border:none;
    font-family:'Comfortaa' !important;
    color:white;
    display:block;
    background-color:transparent !important;
    margin:15px auto 10px auto;
    width: 50%;
    border-bottom:2px solid#598392;
}

.textInput:-webkit-autofill,
.textInput:-webkit-autofill:hover,
.textInput:-webkit-autofill:focus,
.textInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #124559 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}